# .clang-tidy
Checks: '*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -modernize-use-trailing-return-type,
        -llvm-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2